<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
  bootstrap="vendor/autoload.php"
  colors="true"
  processIsolation="false"
  stopOnFailure="true"
>
  <testsuites>
    <testsuite name="Package Test Suite">
      <directory suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>

  <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>

  <coverage
    includeUncoveredFiles="true"
    pathCoverage="false"
    ignoreDeprecatedCodeUnits="true"
    disableCodeCoverageIgnore="true"
  />

  <php>
    <ini name="xdebug.mode" value="coverage" />
  </php>
</phpunit>
