name: Run tests

on: [push, pull_request]

jobs:
    php-tests:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [ubuntu-latest,ubuntu-20.04]
                php: [8.1,8.2]
                laravel: [^9.0,^10.0]

        name: ${{ matrix.php }}, PHP ${{ matrix.php }} / Laravel ${{ matrix.laravel }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}

            - name: Update composer
              run: composer self-update --2

            - name: Install dependencies
              run: composer require "laravel/framework:${{ matrix.laravel }}" --no-interaction --no-progress --no-suggest

            - name: Execute tests
              run: composer test
