name: Run tests

on: [push, pull_request]

jobs:
  coding-standards:
    name: "Coding Standards"

    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        php:
          - "8.4"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4.1.7"

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Update composer
        run: composer self-update --2

      - name: "Install dependencies"
        run: "composer install --no-interaction --no-progress"

      - name: "Run normalize"
        run: "composer normalize --dry-run"

  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - laravel: '11.*'
            php: '8.2'
          - laravel: '12.*'
            php: '8.3'
          - laravel: '12.*'
            php: '8.4'
          - laravel: '12.*'
            php: '8.5'
        dependency-version: [prefer-stable]

    name: PHP ${{ matrix.php }} / Laravel ${{ matrix.laravel }} (ubuntu-latest)

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Update composer
        run: composer self-update --2

      - name: Install dependencies
        run: composer require "laravel/framework:${{ matrix.laravel }}" --no-interaction --no-progress

      - name: Execute tests
        run: composer test
